
.newsroom-contents {
    @include make-md-column(9);
    padding-right: 10%;

    .newsroom {

        ul {
            display: block;
            margin-bottom: 10px;
            color: $gray-light;
            font-size: 1em;

            a {
                color: $gray-light;

                &:hover {
                    color: $brand-primary;
                }
            }
        }
    }
}

ul.post-categories {
    display: inline;
}
